@import "../style.css";

.contact-container {
    padding: 0;
    padding-top: 10vh;
    padding-bottom: 8%;
    background-image: url("../src/guitar_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-div {
    padding: 2%;
}

.form-container {
    width: 70%;
    height: max-content;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

input,
select,
textarea {
    width: 80%;
    padding: 15px;
    border: 1px solid var(--black_color);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit] {
    width: 200px;
    height: 50px;
    background-color: var(--submit_btn_color);
    color: var(--white_color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--submit_btn_hover_color);
}

label {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1% 0;
}

.validation_error_msg {
    color: var(--white_color);
}