@import "../style.css";

.main-nav-bar-container {
    width: 100%;
    height: 10vh;
    background-color: var(--navbar_color);
    position: sticky;
    overflow: hidden;
    top: 0;
}

.logo-div {
    position: absolute;
}

.logo {
    width: 3rem;
    height: 3rem;
    margin: 8% 3rem;
    cursor: pointer;
}

.nav-bar-items-div {
    height: 100%;
    justify-content: end;
    margin-right: 10%;
    float: right;
}

.nav-item {
    cursor: pointer;
    margin: 0 2rem;
    color: var(--nav_item_color);
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;

}

.nav_item_active {
    color: var(--active_nav_item_color);
    background-color: var(--active_nav_color)
}