@import "../style.css";

.main-nav-bar-container {
    width: 100%;
    height: 10vh;
    background-color: #e40505;
    position: sticky;
    overflow: hidden;
    /* position: fixed; */
    top: 0;
}

.logo-div {
    position: absolute;
}

.logo {
    width: 3rem;
    height: 3rem;
    margin: 8% 3rem;
    cursor: pointer;
}

.nav-bar-items-div {
    height: 100%;
    justify-content: end;
    margin-right: 10%;
    float: right;
}

.nav-item {
    cursor: pointer;
    margin: 0 2rem;
    color: black;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    background-color: #deb887;
    text-decoration: none;

}

.nav-item:hover {
    background-color: #e9e2e2;
}